.container-cmsoon {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
}

.movie-cmsoon {
    margin-top: 30px;
    border-radius: 20px;
    padding: 20px;
    width: 250px;
    border: 1px solid black;
    /* background-color: rgb(82, 155, 92); */
}

.movie-cmsoon-img {
    width: 250px;
}

.movie-cmsoon-blockcontent {
    background-color: rgb(224, 215, 250);
}

.movie-cmsoon-name-movie {
    color: blueviolet;
}

.movie-cmsoon-age {
    color: rgb(22, 13, 3);
}

.movie-cmsoon-start {
    color: brown;
    text-decoration: none;
}