.movie-now-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.movie-now {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: antiquewhite;
    width: 300px;
    padding: 0px 10px;
    margin-top: 10px;
    border: 1px solid black;
}

.movie-now-img {
    width: 280px;
    object-fit: cover;
}